.badge {
  display: inline-block;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  border-radius: 3px;
  padding: 0 6px;
  color: var(--c-bg);
  vertical-align: top;

  &.tip {
    background-color: var(--c-badge-tip);
  }

  &.warning {
    background-color: var(--c-badge-warning);
  }

  &.danger {
    background-color: var(--c-badge-danger);
  }

  .table-of-contents & {
    vertical-align: middle;
  }

  & + & {
    margin-left: 5px;
  }
}
