@use 'sass:color';

@import '_variables';

.back-to-top {
  --back-to-top-color: #{$accentColor};
  --back-to-top-color-hover: #{color.scale($accentColor, $lightness: 30%)};
}

#nprogress {
  --nprogress-color: #{$accentColor};
}

.DocSearch {
  --docsearch-primary-color: #{$accentColor};
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
}
