@import '_variables';

.badge {
  display: inline-block;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  border-radius: 3px;
  padding: 0 6px;
  color: white;
  background-color: #42b983;
  vertical-align: top;

  .table-of-contents & {
    vertical-align: middle;
  }

  &.tip {
    background-color: $badgeTipColor;
  }

  &.warning {
    background-color: $badgeWarningColor;
  }

  &.danger {
    background-color: $badgeDangerColor;
  }

  & + & {
    margin-left: 5px;
  }
}
