@use 'sass:color';

@import '_variables';
@import '_wrapper';

.page {
  padding-bottom: 2rem;
  display: block;
}

.page-meta {
  @extend %wrapper;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;

  .meta-item {
    cursor: default;
    margin-top: 0.8rem;

    .meta-item-label {
      font-weight: 500;
      color: color.scale($textColor, $lightness: 25%);
    }

    .meta-item-info {
      font-weight: 400;
      color: #767676;
    }
  }

  .edit-link {
    display: inline-block;
    margin-right: 0.25rem;
  }

  .last-updated {
    float: right;
  }
}

@media (max-width: $MQMobile) {
  .page-meta {
    .last-updated {
      font-size: 0.8em;
      float: none;
    }

    .contributors {
      font-size: 0.8em;
    }
  }
}

.page-nav {
  @extend %wrapper;
  padding-top: 1rem;
  padding-bottom: 0;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid $borderColor;
    padding-top: 1rem;
    overflow: auto;
  }

  .next {
    float: right;
  }
}
