.fade-slide-y-enter-active {
  transition: all 0.3s ease;
}

.fade-slide-y-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-slide-y-enter-from,
.fade-slide-y-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
