.pwa-popup {
  position: fixed;
  right: 1em;
  bottom: 1em;
  padding: 1em;
  border: 1px solid var(--pwa-popup-border-color);
  border-radius: 3px;
  background-color: var(--pwa-popup-bg-color);
  box-shadow: var(--pwa-popup-shadow);
  text-align: center;
  z-index: var(--pwa-popup-z-index);
}

.pwa-popup > button {
  cursor: pointer;
  margin-top: 0.5em;
  padding: 0.25em 2em;
  border: none;
  color: var(--pwa-popup-btn-text-color);
  background-color: var(--pwa-popup-btn-bg-color);
}

.pwa-popup > button:hover {
  background-color: var(--pwa-popup-btn-hover-bg-color);
}

.pwa-popup-enter-active,
.pwa-popup-leave-active {
  transition: opacity 0.3s, transform 0.3s;
}

.pwa-popup-enter-from,
.pwa-popup-leave-to {
  opacity: 0;
  transform: translate(0, 50%) scale(0.5);
}
